
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(32,77, 32);
    background-color: rgb(98, 102, 98)}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
